name: CI

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/*.md'
      - '**/*.rst'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**/*.md'
      - '**/*.rst'
  workflow_dispatch:

jobs:
  tests:
    name: pytest on ${{ matrix.python-version }}
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
    - name: Checkout Code
      uses: actions/checkout@v5
      with:
        submodules: 'recursive'

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Upgrade pip
      run: python -m pip install --upgrade pip

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run tests
      run: pytest -vv

  codestyle:
    name: Check code style issues
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v5
      with:
        submodules: 'recursive'

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Upgrade pip
      run: python -m pip install --upgrade pip

    - name: Install Ruff
      run: python -m pip install ruff

    - name: Test with Ruff
      run: ruff check .

    - name: Lint with Ruff
      run: ruff format --check .